
            /*-------------------------Footer-----------------------------*/
/*------------------------------------------------------------------------------------------*/
/*
Footer e tipo um cabecalho so que geralmente mais periferico 
aqui a gente adciona as bordas ou nformações laterais do site

*/
footer img {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px; 
    text-align: center;
}

footer p {
 margin-top: 6px; 
}

footer{
    padding-left: 140px;
}







/*------------------------------------------------------------------------------------------*/
