
/*Aqui e o cabeçalho do site  foto de perfil de a parte central do site             */
/*Aqui e imagem principal e suas caracteristicas */

header img{
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: 19px;
    display: inline-block;
    margin-right: auto;
    width: 150px; 
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(59, 255, 5) ;
}
/*

class center para alinharmos oque estamos ultilizando ou aintrodução do site
e importante destacar que ela se comporta de forma autonoma então para alinham
ento precisamos adicionar suas proprias Propriedades 

*/
/*essa e responsavel pelo alinhamento da Header ou a imagem e o 1° texto */
.center {
    align-items: center;
    
}

/*se eu quiser alter ceparadamente as informações perciso criar uma:
SUBCLASS */
.centertxt{ /* e so um exemplo*/
}
/*Para acessar mais facilmetne podemos tambem fazer o seguinte*/
/* acessar apenas um elemento dentro da class*/

 header  h3{
    font-size: 25px;
    color: rgb(255, 255, 255);
}
 /*Oque esta aqui dentro obrigatoriamente vai seguir o center */
 
header h3:hover{
color: rgb(59, 255, 5) ;
}
header h4:hover{
color: rgb(59, 255, 5) ;

}


header h1:hover{
color: rgb(30, 87, 14) ;

}

.container1{
display:flex;
justify-content: center;
list-style-type: none;
padding: 0px 50px ;
align-items: center;
display: inline-block;
text-align: center;
}

/*Entrando aqui pra dentro temos a escrita do site               */
/*Nome a e o texto que tem dentro do <li <container>> <a>        */
/*Ela e do tipo <nav> bar                                        */
a {
    color: white;
    text-decoration: none;
}

/*Aqui ja antramos dentro do nosso <Section>*/
.alinhamentoh3{
    display:flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}